.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: 100vh;
  margin-top: calc(var(--header-height) + 20px);
}

.content {
  flex: 1 1;
  max-width: calc(100% - var(--sidebar-width));
  padding: 0 40px 0 20px;
}
