.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 0 28px;
  margin-top: calc(var(--header-height) + 20px);
}

.content {
  flex-shrink: 0;
}
